version: '3'

services:
  proxy:
    image: 'getoptimum/proxy:v0.0.1-rc9'
    container_name: proxy
    hostname: proxy
    volumes:
      - /home/optimumuser/go/src:/proxy/config
    environment:
      - LOG_LEVEL=debug
    network_mode: host
    restart: on-failure
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 512M    # cap RAM at 512 MiB
          cpus: '0.50'    # 50% of one CPU

  optimum-node:
    image: 'getoptimum/p2pnode:v0.0.1-rc9'
    container_name: p2pnode
    hostname: p2pnode
    volumes:
      - /home/optimumuser/identity:/identity
      - /home/optimumuser/go/src:/p2pnode/config
    environment:
      - LOG_LEVEL=debug
      - CLUSTER_ID=${CLUSTER_ID}
      - NODE_MODE=${NODE_MODE}
      - BOOTSTRAP_PEERS=${BOOTSTRAP_PEERS}
      - IDENTITY_DIR=/identity
      - REMOTE_ADDR=${REMOTE_ADDR}
    network_mode: host
    restart: on-failure
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 512M    # cap RAM at 512 MiB
          cpus: '0.50'    # 50% of one CPU
